<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAQ125KbZkJscZUQ0OobC-mC6Tp_3hJoCE</string>
	<key>GCM_SENDER_ID</key>
	<string>420063164644</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.alamsyah.SwiftNote</string>
	<key>PROJECT_ID</key>
	<string>swiftnote-e62cb</string>
	<key>STORAGE_BUCKET</key>
	<string>swiftnote-e62cb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:420063164644:ios:cf277e3b5325de078314f1</string>
</dict>
</plist>